<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container">
    <i class="fa-solid fa-fire-flame-curved"></i>
    <h1 class="display-3">Anime Hot Takes</h1>
    <p class="lead">Don't keep your anime hot takes to yourself, share them anonymously!</p>
    <hr>
    <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
    <a class="btn btn-dark btn-lg" style="margin-left:5%;" href="/login" role="button">Login</a>

  </div>
</div>

<%- include('partials/footer') %>
